<div class="jumbo">
  <div class="right tomster"></div>
  <h1>About the Super Fucking Rentals</h1>
  <p>
    The Super Fucking Rentals is a practice web-app in Ember's tutorial pretending
    to be a fucking property renting website. It's supposed to show me the fucking
    core concepts of Ember. I hope it's fucking true...
  </p>

  {{#link-to 'contact' class="button"}}
    Contact us
  {{/link-to}}

</div>

{{outlet}}
